#clock_container {
    position: relative;
}

.timer_no_start {
    background-color: white; /* Foreground color, Background colour */
    border-radius: 100%;
    height: 140px; /* Height and width */
    position: relative;
    width: 140px; /* Height and width */
    /*-webkit-animation: time 20s steps(20, start) infinite;*/
    border: 2px solid deepskyblue;
}

#time_area {
    position: relative;
}

.timer_overlay {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
}.timer {
     background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%); /* Foreground color, Background colour */
     border-radius: 100%;
     height: 100px; /* Height and width */
     position: relative;
     width: 100px; /* Height and width */
     -webkit-animation: time 20s steps(20, start) infinite;
 }
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask 20s steps(10, start) infinite;
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #eee; /* Background colour */
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #eee; /* Background colour */
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: skyBlue; /* Foreground colour */
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: skyBlue; /* Foreground colour */
        -webkit-transform: rotate(-180deg);
    }
}​