body{
    height: 100vh;
    width: 100vh;
    font-size: 0px;
}

#gamebody{
    height: 60vh;
    width: 60vh;
    background-color: lavender;

}
.ttt_cell{
    width: 33%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 33%;
    display: inline-block;
    font-size: initial;
}

#players{
    background-color: lavender;
    height: 20%;
    width: 50%;
}
#players .player_indicator{
    font-size: initial;
    display: inline-block;
    width: 50%;
    height: 100%;
    position: relative;
}
#players .player_indicator span{
    position: absolute;
    left: 50%;
    top: 50%;
    #transform: translate(-50%, -50%);
}

.active_player{
    background-color: red;
}

#selectarea {
    font-size: 16px;
}